//- Parameters
//- user

extends layout.pug


//- block references 
//-     script(src='/socket.io/socket.io.js')
//-     script(type = 'text/javascript').
//-         const socket = io();
    


block title
    | Chattings

//- block page_title
//-     | 회원가입/로그인을 하신 뒤 서비스를 이용하실 수 있습니다.

block buttons
    .bs-docs-grid
        .row.show-grid
            .col-3
                a.btn.btn-primary.mr-2.col-10(href='/channels') 채널 목록
                //- | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            .col-2
            .col-3
                a.btn.btn-info.mr-2.col-10.text-center(href='/social') 친구 목록
                .well.col-10.text-center(style='background-color:#e2e3e5;')
                    | 받은 요청: #{counts.received}

block page_title
    | 회원가입/로그인을 하신 뒤 서비스를 이용하실 수 있습니다.

//- block scripts
//-     script(defer, type = 'text/javascript').
//-         const socket = io();
