doctype html
html
    head
        title
            block title
        meta(charset='utf-8')
        meta(name='viewport',
             content='width=device-width, initial-scale=1')
        link(rel='stylesheet',
             href='/styles/bootstrap.min.css')
        link(rel='stylesheet',
             href='/styles/myScroll.css')
        script(src='/scripts/bootstrap.min.js', defer)
        script(src='/scripts/popper.min.js')
        script(src='/scripts/jquery-3.5.1.min.js')
        script(src='/scripts/myScroll.js', defer)
        block scripts
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-secondary
            .container
                a(href='/', class='navbar-brand') DB Mail

                
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='auth/sign_out') 로그 아웃
                    li.nav-item
                        a.nav-link(href='') 로그인 닉네임: #{user.nick}
        block content